<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
        <title>Index</title>
        <link rel="stylesheet" type="text/css" href="/css/page.css">
        <link rel="stylesheet" type="text/css" href="/css/card.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body>
        <div id="index-header">
            <div class="container">
                <h1 id="index-title"><a href="/">Index</a></h1>
            </div>
        </div>
        <div id="box" class="container">
            <div class="row">
                <div class="col-md-5 col-xs-12">
                    <a href="/nishikie" class="btn btn-primary center-block">浮世絵データベース</a>
                </div>
                <div class="col-md-5 col-md-offset-2 col-xs-12">
                    <a href="/books" class="btn btn-success center-block">古典籍データベース</a>
                </div>
            </div>
        </div>
    </body>
</html>
