#index-header {
    background: #9effff;
    font-size: 32pt;
    margin-bottom: 20px;

}

#index-title a{
    color:#000000;
    text-decoration:none;
}

#index-title a:hover{
    color:#000000;
    text-decoration:underline;
}

.btn {
    margin-bottom: 50px;
}
