<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Style-Type" content="text/css">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <title>{{title}}</title>
        {% block require_css %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="/css/page.css">
        <link rel="stylesheet" type="text/css" href="/css/card.css">
        <script type="text/javascript">
            function commitLog(arc_no){
                $.ajax({
                    type: "POST", url: "/{{db}}/log/commit",
                    data:{
                        db      : '{{db}}',
                        arc_no  : arc_no
                    },
                    success: function(data){
                    }
                });
                //  window.open(link);
            }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                {% block main_block %}{% endblock %}
            </div>
            <div class="row">
                {% block sub_block %}{% endblock %}
            </div>
            <div class="row">
                {% block link_block %}{% endblock %}
            </div>
        </div>
    </body>
</html>
