{% extends 'base/base.twig' %}

{% block require_opt %}
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" >
    <script>
      $(function() {
        $("#datepicker").datepicker({
            dateFormat: 'yy-mm-dd'
        });
      });
    </script>
{% endblock %}

{% block main_block %}
あなたへのおすすめ
<div class="row">
    {% for item in assets %}
        {% if loop.index % 4 == 1 %}
            <div class="row">
                <div class="card col-xs-12 col-md-3">
                    {% include 'base/asset.twig' %}
                </div>
        {% elseif (loop.index % 4 == 0 or loop.last) %}
                <div class="card col-xs-12 col-md-3">
                    {% include 'base/asset.twig' %}
                </div>
            </div>
        {% else %}
            <div class="card col-xs-12 col-md-3">
                {% include 'base/asset.twig' %}
            </div>
        {% endif %}
    {% endfor %}
</div>

<form action='/books' method="get">
    <input type="text" id="datepicker" name="date" value="{{date}}" size="10">のおすすめを
    <input class="submit_btn" type="submit" value="表示">
</form>

<div class="row">
    {% for item in date_recommends %}
        {% if loop.index % 4 == 1 %}
            <div class="row">
                <div class="card col-xs-12 col-md-3">
                    {% include 'base/asset.twig' %}

                </div>
        {% elseif (loop.index % 4 == 0 or loop.last) %}
                <div class="card col-xs-12 col-md-3">
                    {% include 'base/asset.twig' %}
                </div>
            </div>
        {% else %}
            <div class="card col-xs-12 col-md-3">
                {% include 'base/asset.twig' %}
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}

{% block sub_block %}
<div class="row">
    <form action='/books/search' method="get">
        <table>
            <tr>
                <td width="150" align="right" bgcolor="#c993ff">ARC管理番号:</td>
                <td width="250"><input type="text" name="id" size="20"></td>
                <td width="150" align="right" bgcolor="#c993ff">資料名:</td>
                <td width="250"><input type="text" name="title" size="20"></td>
            </tr>
            <tr>
                <td width="150" align="right" bgcolor="#c993ff">作者:</td>
                <td width="250"><input type="text" name="author" size="20"></td>
                <td width="150" align="right" bgcolor="#c993ff">件数:</td>
                <td width="250"><input type="number" value="4" name="count" size="20"></td>
            </tr>
        </table>
        <input class="submit_btn" type="submit" value="検索">
    </form>
</div>
{% endblock %}

{% block link_block %}
<div class="row">
    <ul class = "pager">
        {% if prev_link is not null %}
            <li class = "prev_link"><a href = "{{prev_link}}">&larr; Prev</a></li>
        {% endif %}
        {% if next_link is not null %}
            <li class = "next_link"><a href = "{{next_link}}">Next &rarr;</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
